<div class="container">
    <div class="row">

    <% @market.each do |item| %>
        <div class="input-box col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
            <img src=<%= item['item_pic'].to_s %> class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= item['item_name'] %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Seller: <%= item['seller'].to_s %></h6>
                    <p class="card-text"><%= item['item_description'].to_s %></p>
                    <a href="/marketplace/<%= item['id'].to_s %>" class="btn btn-danger">Bid: $<%= item['current_bid'].to_s %></a>
                    <a href="/marketplace/<%= item['id'].to_s %>" class="btn btn-success">Buy: $<%= item['buy_out'].to_s %></a>
                </div>
            </div>
        </div>
    <% end %>

    </div>
</div>
